.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "textArea textArea"
                         "entities markedTextTable";
    column-gap: 2em;
    max-width: 95vw;
}

.textArea {
    grid-area: textArea;
    border-bottom: 1px solid lightgray;
    margin-bottom: 2em;
}

.entities {
    grid-area: entities;
}

.table {
    grid-area: markedTextTable;
}

#content {
    margin: 0;
    line-height: 300%;
}

.clear {
    background-color: #ea604b;
    border: none;
    background-image: url(../assets/images/icon-remove-circle.svg);
    background-size: 16px;
    position: absolute;
    top: -14px;
    left: 3px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    // display: none;
}

.operation-btn {
    height: 35px;
    // width: 80px;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.marked:hover .clear {
    // background-color: #ea604b;
    // border: none;
    // background-image: url(../assets/images/icon-remove-circle.svg);
    // background-size: 16px;
    // position: absolute;
    // top: -14px;
    // left: 3px;
    // border-radius: 50%;
    // height: 16px;
    // width: 16px;
}

@media screen and (max-width: 992px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 1fr auto auto;
        grid-template-areas: "textArea"
                             "entities" 
                             "markedTextTable";
        row-gap: 1em;
        max-width: 98vw;
    }

    .textArea {
        grid-area: textArea;
        border-bottom: 1px solid lightgray;
        margin-bottom: 0;
    }
}


